html {
  /*background-image: linear-gradient(to right, green, blue);*/
  /*background: paleturquoise;*/
  background: lightsteelblue;
  font-family: Helvetica;
}

#main-heading {
  color: midnightblue;
  text-align: center;
  font-size: 30pt;
  text-transform: uppercase;
}

.inside-body {
  padding:10px;
  margin: 50px;
  border: 2px solid midnightblue;
  border-radius: 40px;
  background-color: lightblue;
  /*background-color: lightsteelblue*/
  font-family: Helvetica;
  color: midnightblue;
  /*height: 70vh;*/
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 10px;
  margin: 10px;
  text-align: center;
  /*border-radius: 10px;*/
}

li {
  text-align: left;
  width: 200px;
}

ul {
  display: inline-block;
  align-items: center;
}

.primary {
  width: 65px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  padding: 6px;
}

#name {
  width: 150px;
}

#species {
  width: 150px;
}

#continent {
  width: 155px;
}

#form-cell {
  border-right: 2px dashed midnightblue;
  padding: 50px;
  padding-top: 70px;
  /*height: 48vh;*/
}

#delete-all {
  background: red;
  color: white;
  text-transform: uppercase;
  border: 1px solid midnightblue;
  font-size: 10pt;
}

#save-btn {
  text-transform: uppercase;
  background: green;
  color: white;
  border: 1px solid midnightblue;
  font-size: 10pt;
}
